body{
	font-weight: normal;
	color: #333333;
	font-family: メイリオ;
	font-size: 16px;
}
img{
	width: 100%;
}
.wrapper{
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 767px){
	.wrapper {
	    padding-right: 10px;
	    padding-left: 10px;
	}
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
}
.head_btn_01{
	width: 400px;
	text-align: center;
	background-color: #fd617b;
	color: #fff;
	padding: 20px;
}
.head_btn_02{
	width: 400px;
	text-align: center;
	background-color: #1d782e;
	color: #fff;
	padding: 20px;
}
@media only screen and (max-width: 767px){
	.header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 10px;
	}
	.head_btn_01{
		width: 130px;
		text-align: center;
		background-color: #fd617b;
		color: #fff;
		padding: 10px;
		font-size: 14px;
	}
  .head_btn_02{
		width: 130px;
		text-align: center;
		background-color: #1d782e;
		color: #fff;
		padding: 10px;
		font-size: 14px;
	}
  .header h1{
		font-size: 20px;
    padding:30px 0;
	}
}
.menu{
  display:flex;
  justify-content: space-around;
  margin-top: 30px 0;
}
.sec_01{
  margin:60px;
  text-align: center;
  
}
.sec_01 h1{
  font-size:24px;
  margin-bottom:10px;
}
.sec_01 p{
  font-size:16px;
}
@media only screen and (max-width: 767px){
  .sec_01{
    margin:60px;
    text-align: center;
    
  }
  .sec_01 h1{
    font-size:20px;
    margin-bottom:10px;
  }
  .sec_01 p{
    font-size:12px;
  }
}
.b{
  margin:auto 15px auto 0;
  font-weight: bold;
}
.p{
  background-color: #fd617b;
  color:white;
  font-weight: bold;
  padding:3px 2px;
  margin:auto 0;
}
@media only screen and (max-width: 767px){
  .b{
    margin:auto 5px auto 0;
    font-weight: bold;
    font-size: 14px;
  }
  .p{
    background-color: #fd617b;
    color:white;
    font-weight: bold;
    padding:3px 2px;
    margin:auto 0;
    font-size: 14px;
  }
}
.sec_02{
  border: 1px solid #cccccc;
}
.sec_02_box{
  display:flex;
  justify-content: flex-start;
  padding:30px;
}
.sec_02_left{
  display:flex;
  justify-content: flex-start;
  float:left;
  width:25%
}
.sec_02_right{
  border: 1px solid #cccccc;
  width:75%;
  padding:5px 0;
}
.sec_02_right_01{
  border: 1px solid #cccccc;
  width:45%;
  margin:auto 0;
}
.sec_02_right_02{
  display:flex;
  justify-content: flex-start;
  float:left;
}
.sec_02_right_02 p{
 margin-left:2px;
}
@media only screen and (max-width: 767px){
  .sec_02_left{
    width:35%
  }
  .sec_02_right{
    border: 1px solid #cccccc;
    width:65%;
    padding:5px 0;
  }
}
select{
  width:100%
}
textarea{
  width:100%
}
input{
  position:relative;
  top: -4px;
}
.sec_02_right_02 a{
  color:#1d782e;
  border-bottom:1px solid;
  padding-bottom: 1px;
  margin-left:2px;
}
.sec_03_content{
  width: 300px;
	text-align: center;
	background-color: #1d782e;
	color: #fff;
	padding: 20px;
  margin:50px auto;
}
@media only screen and (max-width: 767px){
  .sec_03_content{
  width: 200px;
  }
}
  .sec_04{
	margin: 80px 0;
  background-color:#cccccc;
}
.sec_04_content{
	display: flex;
	justify-content: space-around;
  padding:30px;
}
.sec_04_box{
	width: 550px;
	display: flex;
	flex-direction: column;
  background-color: white;
  padding:30px;
}
.sec_04_box h3{
	font-size: 18px;
	padding: 20px 0;
  text-align: center;
}
.sec_04_btn_01{
  width: 250px;
	text-align: center;
	background-color: #fd617b;
	color: #fff;
	padding: 20px;
  margin:auto;
}
.sec_04_btn_02{
  width: 250px;
	text-align: center;
	background-color: #1d782e;
	color: #fff;
	padding: 20px;
  margin:auto;
}
@media only screen and (max-width: 767px){
  .sec_04_box h3{
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
  }
  .sec_04_box{
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:15px;
  }
  .sec_04_btn_01{
    width: 125px;
    text-align: center;
    background-color: #fd617b;
    color: #fff;
    padding: 5px;
    margin:auto;
  }
  .sec_04_btn_02{
    width: 125px;
    text-align: center;
    background-color: #1d782e;
    color: #fff;
    padding: 5px;
    margin:auto;
  }
}
.sec_05{
  margin-top:600px;
  margin-bottom:40px ;
  text-align: center;
  line-height: 30px;
}
@media only screen and (max-width: 767px){
  .sec_05{
    margin-top:200px;
    margin-bottom:20px ;
  }
}
.sec_06{
  border: 1px solid #cccccc;
}
.sec_06_box{
  display:flex;
  justify-content: space-between;
  margin-top:30px;
}
.a07{
  text-align: right;
  margin-bottom: 50px;
}
footer p {
  text-align: center;
  font-size: 12px;
  padding: 20px 0;
}